:root{
    --branco-principa: #FFFFFF;
    --cinza-ecundario: #c0c0c0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C;
}

body{
    background-color: var(--cor-de-fundo);
    color:  var(--branco-principa);
}
.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.conteiner{
    height: 100vh;
}
.conteiner_botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principa);
    display: block;
}